@import 'tailwindcss';

@font-face {
  font-family: Pretendard;
  src: url('../public/font/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
}

body {
  font-family: Pretendard;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
